<!DOCTYPE html>
<html>

   <head>

  <script language="JavaScript1.2" type="text/javascript">
    function setEmailFromCookie()
    {
        cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++)
        {
            cookie = cookies[i].trim().split("=");
            if (cookie[0] == "email")
            {
                document.form.email.value = cookie[1];
                break;
            }
        }
    }

    function localizeDate(ts)
    {
        return new Date(ts * 1000).toLocaleString()
    }

    function setLocalTime()
    {
        server_tz = "{{ server_timezone }}"
        tz = Intl.DateTimeFormat().resolvedOptions().timeZone
        if (tz.toUpperCase() == server_tz.toUpperCase())
        {
            return
        }

        {% for e in events %}

        start_date = localizeDate({{ e.start_ts }}) + " (<b>" + tz + "</b>)"
        end_date = localizeDate({{ e.end_ts }}) + " (<b>" + tz + "</b>)"

        document.getElementById('start-date-{{ loop.index }}').innerHTML += " (<b>" + server_tz + "</b>) | " + start_date
        document.getElementById('end-date-{{ loop.index }}').innerHTML += " (<b>" + server_tz + "</b>) | " + end_date

       {% endfor %}
    }

    function onLoad()
    {
        setEmailFromCookie()
        setLocalTime()
    }

  </script>
  </head>
   <body onLoad="onLoad()">
     <style>
        table, th, td {
        border:1px solid black;
        }
     </style>

      <h2>Calendar entry</h2>


{% for e in events %}

      <table style="width:100%">
         <tr>
            <th colspan="2"> {{ e.title }} </th>
         </tr>

{% if e.start is defined %}
         <tr>
           <th style="background-color:#808080"> Start </th>
           <td id="start-date-{{ loop.index }}">{{ e.start }}</td>
         </tr>
{% endif %}
{% if e.end is defined %}
         <tr>
            <th style="background-color:#808080"> End </th>
            <td id="end-date-{{ loop.index }}">{{ e.end }}</td>
         </tr>
{% endif %}

{% if e.repeat is defined %}
         <tr>
            <th style="background-color:#808080"> Repeat </th>
            <td >{{ e.repeat }}</td>
         </tr>
{% endif %}

{% if e.location is defined %}
         <tr>
            <th style="background-color:#808080"> Location </th>
            <td>{{ e.location }}</td>
         </tr>
{% endif %}
{% if e.description is defined %}
         <tr>
            <th style="background-color:#808080"> Description </th>
            <td style="white-space:pre-wrap; word-wrap:break-word">{{ e.description }}</td>
         </tr>
{% endif %}
{% if e.attendees is defined %}
         <tr>
            <th style="background-color:#808080"> Attendees </th>
            <td>{{ e.attendees|join(', ') }}</td>
         </tr>
{% endif %}


      </table>
      <br/>

{% endfor %}

      <form name="form" action="/{{ collection }}/{{ event }}/subscribe" method="post" style="display: inline;">
         <input type="email" id="email" name="email" required="required" placeholder="email address">
         <input type="checkbox" id="updates" name="updates" checked>
         <label for="updates">Receive future updates</label>
         <input type="submit" value="Add to my calendar">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{% if token is defined %}
         <input type="hidden" name="t" value="{{ token }}"/>
{% endif %}
      </form>
{% if notification is defined %}
  <b style="color:green">{{ notification }}</b> <br/>
{% endif %}
  <a href="/{{ collection }}/{{ event }}/ics{% if token is defined and token %}?t={{token}}{% endif %}"><button>Download ICS</button></a>
{% if admin %}
  <form onsubmit="return confirm('Send event update ?');" action="/{{ collection }}/{{ event }}/update" method="post" style="display: inline;">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="submit" value="Send update (admin)">
   </form>
{% endif %}

   </body>

{% if admin_links is defined %}
<ul>
<h2>Admin</h2>
{% for e in admin_links %}
  <li><a href="{{ e.url }}">{{ e.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
</html>


